@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  font-family: "Rubik", sans-serif;
}

.background {
  min-width: 100%;
  height: 20vh;
  background-image: url("./assets/images/pattern-bg-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  width: 100%;
  padding: 1rem;
}

.input-field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background input {
  padding: 0.5rem;
  margin: 1rem 0 1rem 1rem;
  border-radius: 10px 0 0 10px;
  border: none;
  outline: none;
  cursor: pointer;

  width: 60%;
}

.ip-details {
  background-color: aliceblue;
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25%;
  width: 80%;
  height: 10vh;

  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.ip-details p {
  font-size: 10px;
  letter-spacing: 1.5px;
}

button {
  background-color: black;
  border: none;
  outline: none;
  border-radius: 0 10px 10px 0;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.details-container {
  width: 100%;
}

.border {
  width: 90%;
  border-right: 1px solid gray;
  padding: 0.5rem 0 0.5rem 0;
}

/* TABLET AND SMALLER SCREENS */
@media screen and (max-width: 660px) {
  h2 {
    white-space: nowrap;
  }

  .background {
    background-image: url("../src/assets/images/pattern-bg-mobile.png");
    height: 30vh;
  }

  .ip-details {
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50%;
    width: 90%;
    height: 30vh;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .background input {
    padding: 1rem;
  }

  button {
    padding: 1rem;
  }

  .details-container {
    width: 100%;
    text-align: center;
  }

  .border {
    padding: 0.5rem 0 0.5rem 0;
    border: none;
    width: 100%;
  }

  .ip-details h4 {
    text-align: center;
  }
}
